<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bodega.timeline_alfa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ScoreBoard"
            android:label="@string/app_name2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PlayersMenu"
            android:label="@string/app_name4"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".QuestionAdderActivity"
            android:label="@string/title_activity_question_adder" >
        </activity>
        <activity
            android:name=".ExtrasActivity"
            android:label="@string/title_activity_extras" >
        </activity>

        <activity
            android:name=".RemoveQuestionsActivity"
            android:label="@string/title_activity_remove_questions" >
        </activity>
    </application>

</manifest>
